@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>Fuck The North Island</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<!--[if lt IE 9]>
    <div id="no-class">You and your shitty browser can suck it.</div>
    <![endif]-->

	@RenderBody()

	<script src="//code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
